@mixin theme($header-clr, $body-clr, $header-bg, $body-bg) {
  .app-header, .app-footer {
    background-color: $header-bg;
    color: $header-clr;
  }
  // .app-main {
  // }
  color: $body-clr;
  background-color: $body-bg;
}

@import "./_default.scss";
@import "./_lemon.scss";
@import "./_dark.scss";
@import "./_red.scss";
@import "./_purple.scss";
@import "./_pink.scss";
@import "./_blue.scss";