button {
  border: unset;
  background: unset;
  padding: 0 5px;
  outline: none;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
} button:hover {cursor: pointer;}
button:active {
    color: white;
    border-color: white;
  }

input[type="text"], input[type="password"], select, textarea {
  // width: 200px;
  outline: none;
}

input[type="text"], input[type="password"], select {
  padding: 5px;
  padding-left: none;
  border: unset;
  background: unset;
  border-bottom: 1px solid black;
}

textarea {
  height: 75px;
}

a, .router-link {
  text-decoration: none !important;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark {
  button, input, select, textarea {
    background-color: rgba(255, 255, 255, 0.2);
  }

  input {
    // border-color: white;
    // color: white;
  }
  ::placeholder {
    // color: white;
  }

  .item-preview {
    color: black;
  }
}

.btn {
  // height: 20px;
  &.icon {
    height: 20px;
    width: 20px;
    padding: 0;
    border: unset;
    // padding: 1px;
    // img {
    //   height: calc(100% - 2px);
    //   width: calc(100% - 2px);
    // }
  }
  &.small {
    height: 13px;
    width: 13px;
    padding: 0;
    border-radius: 2px;
    font-size: 11px;
  }
}