
// .dark-theme .btn {
//   color: white;
// }
.btn {
  // height: 20px;
  background-color: #ffffff;
  box-shadow: $light-shadow;
  color: black;
  border-radius: 5px;
  padding: 0 5px;

  &.icon {
    height: 20px;
    width: 20px;
    padding: 0;
    border: unset;
    // padding: 1px;
    // img {
    //   height: calc(100% - 2px);
    //   width: calc(100% - 2px);
    // }
  }
  &.small {
    height: 13px;
    width: 13px;
    padding: 0;
    border-radius: 2px;
    font-size: 11px;
  }

  &.big {
    padding: 10px 20px;
  }
  &.mid {
    padding: 7px 15px;
  }

  &.primary {
    background-color: $clr-light-green;
  }
  &.secondary {
    background-color: $clr-light-blue;
  }
  &.danger {
    background-color: $clr-light-red;
  }

  // &.safe {
  //   background-color: green;
  // }
  // &.danger {
  //   background-color: red;
  // }

  &:hover {cursor: pointer;}
  &:active {
    color: white;
    border-color: white;
  }
}

.toggle-btns { // flex align-center space-between gap5 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // border: 1px solid $clr-light-blue;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: $light-shadow;
  button {
    padding: 3px;
    color: black;
    height: 100%;
    &:not(:last-child) {
      border-inline-end: 1px solid $clr-light-blue;
    }
    &.selected {
      background-color: $clr-light-green;
    }
  }
}

// button, .button-like {
//   border: unset;
//   background: unset;
//   outline: none;
//   // padding: 0 5px;
//   // border: 1px solid black;
//   // box-shadow: $light-shadow;
//   // color: black;
//   // border-radius: 5px;
// } button:hover, .button-like:hover {cursor: pointer;}
// button:active, .button-like:active {
//     color: white;
//     border-color: white;
//   }